*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    color: #eb891b;
}
body{
    background: #32383e;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
}